
<%= form_tag sessions_path do %>
  <div class = "signuparea">
    <h1>Log In</h1>
    <div class = "field_name">EMAIL</div>
    <div class = "entry_area"><%= text_field_tag :email, params[:email] %></div>
    <div class = "field_name">PASSWORD</div>
    <div class = "entry_area"><%= password_field_tag :password %></div>
    <div class = "signupbutton"><%= submit_tag "Log in" %></div>
  </div>
<% end %>